#leaderboard{
    text-align: center;
    color: aqua;
}

.header{
    text-align: center;
    background: blue;
}

.highscore{
    text-align: left;
    background: blue;

}

.time{
    
    background: blue;

}

