

.header{
    text-shadow: #ffffff;
    background: #218380;
}

.highScore{
    text-align: left;
    color: #ffffff;
    border: 30px;
    padding-top: 10px;
    padding-left: 10px;
    text-indent: 10px;


}

.time{
    text-align: right;
    color: #ffffff;
    border: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-indent: 10px;

}

.display{
    text-align: center;
    margin-top: 30px;
    padding: 40px;
}

